@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.my-swiper .swiper-slide img {
  opacity: 0;
}
.my-swiper .swiper-slide-active img {
  opacity: 1;
}
.card:hover .anima {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out border-radius 0.3 ease-in-out;
  border-radius: 20px;
}
.anima {
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.card:hover .heart {
  background-color: lime;
  color: red;
}
/* LEFT RIGHT BUTTONS */
.card .right-button,
.card .left-button {
  display: none;
}
.card:hover .right-button,
.card:hover .left-button {
  display: block;
}
/* ///////////////// */